.bg-c {
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/564x/9b/95/e1/9b95e12203c3163d58ea42303e78c307.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnCancelar {
    margin-right: 20px !important;
}

.botao {
    display: flex;
    align-items: center;
    background-color: #ECEAEA;
}

.text-decoration-none{
    text-decoration: none !important;
}