#nav{
    color: brown;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: transform 1s, background-color 1s;
    border: blur ;
}


.home:hover {
    transform: rotate(360deg) scale(2) skew(-20deg,-20deg) ;
    background-color: deeppink;
    color: white;
    border-radius: 1rem;
}

.home:active {
    color: red;
}