.navbar{
    background-color: #003566 !important;
}

.cursor {
    text-decoration: none;
    color: #ffd60a;
    font-size: 24px;
    transition: transform 1s;
    cursor: pointer;
}


.cursor:hover {
    transform: scale(1.2);
    color: white;
}

.cursor:active {
    color: #eceaea;
}

.text-decorator-none {
    text-decoration: none;
    color: #fff;
}

