.text-decorator-none{
  text-decoration: none;
}

.caixa{
  background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1513&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
}

.grid1{
  width: 100%;
  max-width: 600px;
  background-color: transparent;
  backdrop-filter: blur(2px);
}


.top {
  color: white !important;

}


.botaoPost{
  background-color: #3F51B5 !important;
  color: white !important;
}

.postagens{
  background-color: white;
}
